# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
dist/
build/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Django
*.sqlite3
db.sqlite3
media/

# OS
Thumbs.db
.DS_Store

# Scratch / temp
restaurante/scratch/

# Logs
*.log
