SECRET_KEY=tu-clave-secreta-aqui
DEBUG=True
DATABASE_URL=mysql://usuario:password@localhost:3306/paladumdb
STRIPE_PUBLIC_KEY=tu-clave-stripe-publica-aqui
STRIPE_SECRET_KEY=tu-clave-stripe-aqui
ALLOWED_HOSTS=localhost,127.0.0.1
RESEND_API_KEY=
