{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Empleado</title>
    <link rel="stylesheet" href="{% static 'css/style-formularios.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <!-- ==================================
        Barra Navegación
    ================================== -->
    <aside class="barra-lateral">
        {% include 'admin/includes/sidebar_izquierda.html' %}

        <!-- ==================================
            Barra Notificaciones
        ================================== -->
        {% include "admin/includes/sidebar_derecha.html" %}
    </aside>

    <!-- ==================================
        Formulario Registro
    ================================== -->
    <div class="contenido-principal">
        <div class="seccion-superior">
            <div class="encabezado">
                <h1>Registrar Empleado</h1>
            </div>

            <!-- Mensaje de éxito -->
            {% if messages %} {% for message in messages %}
            <p class="error-msg">{{ message }}</p>
            {% endfor %} {% endif %}

            <div class="formulario">
                <form action="{% url 'crear_empleado' %}" method="POST" class="form">
                    {% csrf_token %}

                    <!-- ==================================
                        Info Personal
                    ================================== -->
                    <div class="grupo-campos">
                        <div class="fila-campos">
                            <label>
                                <span class="label-texto">Nombres</span>
                                <i class='bx bx-user'></i>
                                <input type="text" name="nom_empleado"
                                        placeholder="Ingrese los nombres"
                                        required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                                        title="Solo letras y espacios">
                            </label>
                            <label>
                                <span class="label-texto">Apellidos</span>
                                <i class='bx bx-id-card'></i>
                                <input type="text" name="apellido_empleado"
                                        placeholder="Ingrese los apellidos"
                                        required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                                        title="Solo letras y espacios">
                            </label>
                        </div>

                        <label>
                            <span class="label-texto">Fecha de Nacimiento</span>
                            <i class='bx bxs-calendar'></i>
                            <input type="date" id="fecha-nacimiento"
                                    name="fecha_naci_empleado"
                                    required title="Seleccione una fecha válida"
                                    max="{{ fecha_max }}">
                        </label>
                        <p id="mensaje"></p>
                    </div>

                    <!-- Información de contacto -->
                    <div class="grupo-campos">
                        <label>
                            <span class="label-texto">Número de Teléfono</span>
                            <i class='bx bx-phone'></i>
                            <input type="tel" name="tel_empleado"
                                placeholder="Ej: 3101234567"
                                required
                                pattern="(300|301|302|303|304|305|310|311|312|313|314|315|316|317|318|319|320|321|322|323|324|350|351)[0-9]{7}"
                                title="Ingrese un celular colombiano válido (ej: 3101234567)"
                                maxlength="10">
                        </label>

                        <label>
                            <span class="label-texto">Correo Electrónico</span>
                            <i class='bx bx-envelope'></i>
                            <input type="email" name="correo_empleado"
                                    placeholder="ejemplo@correo.com"
                                    required title="Correo electrónico válido">
                        </label>

                        <label>
                            <span class="label-texto">Dirección Completa</span>
                            <i class='bx bx-map'></i>
                            <input type="text" name="direc_empleado"
                                    placeholder="Ingrese la dirección completa"
                                    required maxlength="100"
                                    title="Máximo 100 caracteres">
                        </label>
                    </div>

                    <!-- ==================================
                        Botones
                    ================================== -->
                    <div class="separador-botones">
                        <div class="button">
                            <button type="submit">
                                <i class='bx bx-plus'></i>
                                Agregar Empleado
                            </button>
                            <a href="{% url 'tabla_empleados' %}" class="btn-card-action">
                                <i class='bx bx-search'></i> Ver Empleados
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ===== JavaScripts =====-->
    <script src="{% static 'js/validacion-empleado.js' %}"></script>
</body>

</html>