{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Cliente</title>
    <link rel="stylesheet" href="{% static 'css/style-formularios.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <!-- ==================================
        Barra Navegación
    ================================== -->
    <aside class="barra-lateral">
        {% include 'admin/includes/sidebar_izquierda.html' %}

        <!-- ==================================
            Barra Notificaciones
        ================================== -->
        {% include "admin/includes/sidebar_derecha.html" %}
    </aside>

    <!-- ==================================
        Formulario Registro
    ================================== -->
    <div class="contenido-principal">
        <div class="seccion-superior">
            <div class="encabezado">
                <h1>Registrar Cliente</h1>
            </div>

            {% if messages %}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    {% for message in messages %}
                        Swal.fire({
                            icon: "{% if message.tags == 'error' %}error{% elif message.tags == 'warning' %}warning{% else %}success{% endif %}",
                            title: "{% if message.tags == 'error' %}Error{% else %}Aviso{% endif %}",
                            text: "{{ message }}",
                            confirmButtonText: 'Entendido',
                            confirmButtonColor: "{% if message.tags == 'error' %}#d33{% else %}#7f0404{% endif %}"
                        });
                    {% endfor %}
                });
            </script>
            {% endif %}

            <div class="formulario">
                <form action="{% url 'crear_cliente' %}" method="POST" class="form">
                    {% csrf_token %}

                    <!-- ==================================
                        Info Personal
                    ================================== -->
                    <div class="grupo-campos">
                        <div class="fila-campos">
                            <label>
                                <span class="label-texto">Nombres</span>
                                <i class='bx bx-user'></i>
                                <input type="text" name="nom_clien"
                                        placeholder="Ingrese los nombres"
                                        value="{{ request.POST.nom_clien|default:'' }}"
                                        required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                                        title="Solo letras y espacios">
                            </label>
                            <label>
                                <span class="label-texto">Apellidos</span>
                                <i class='bx bx-id-card'></i>
                                <input type="text" name="apellido_clien"
                                        placeholder="Ingrese los apellidos"
                                        value="{{ request.POST.apellido_clien|default:'' }}"
                                        required pattern="[A-Za-zÁÉÍÓÚáéíóúÑñ\s]+"
                                        title="Solo letras y espacios">
                            </label>
                        </div>

                        <label>
                            <span class="label-texto">Fecha de Nacimiento</span>
                            <i class='bx bxs-calendar'></i>
                            <input type="date" id="fecha-nacimiento"
                                name="fecha_naci_cliente"
                                value="{{ request.POST.fecha_naci_cliente|default:'' }}"
                                required title="Seleccione una fecha válida"
                                max="{{ fecha_max }}">
                        </label>
                        <p id="mensaje"></p>
                    </div>

                    <!-- Información de contacto -->
                    <div class="grupo-campos">
                        <label>
                            <span class="label-texto">Número de Teléfono</span>
                            <i class='bx bx-phone'></i>
                            <input type="tel" name="tel_cliente"
                                placeholder="Ej: 3101234567"
                                value="{{ request.POST.tel_cliente|default:'' }}"
                                required
                                pattern="(300|301|302|303|304|305|310|311|312|313|314|315|316|317|318|319|320|321|322|323|324|350|351)[0-9]{7}"
                                title="Ingrese un celular colombiano válido (ej: 3101234567)"
                                maxlength="10">
                        </label>

                        <label>
                            <span class="label-texto">Correo Electrónico</span>
                            <i class='bx bx-envelope'></i>
                            <input type="email" name="correo_clien"
                                    placeholder="ejemplo@correo.com"
                                    value="{{ request.POST.correo_clien|default:'' }}"
                                    required title="Correo electrónico válido">
                        </label>

                        <label>
                            <span class="label-texto">Nombre de Usuario</span>
                            <i class='bx bx-user-pin'></i>
                            <input type="text" name="nombre_usuario"
                                    placeholder="Ej: ClienteN1"
                                    value="{{ request.POST.nombre_usuario|default:'' }}"
                                    required maxlength="20"
                                    pattern="^\S*$"
                                    title="Máximo 20 caracteres. Sin espacios. Debe contener al menos una mayúscula.">
                        </label>

                        <label>
                            <span class="label-texto">Dirección Completa</span>
                            <i class='bx bx-map'></i>
                            <input type="text" name="direc_clien"
                                    placeholder="Ingrese la dirección completa"
                                    value="{{ request.POST.direc_clien|default:'' }}"
                                    required maxlength="100"
                                    title="Máximo 100 caracteres">
                        </label>
                    </div>

                    <!-- ==================================
                        Botones
                    ================================== -->
                    <div class="separador-botones">
                        <div class="button">
                            <button type="submit">
                                <i class='bx bx-plus'></i>
                                Agregar Cliente
                            </button>
                            <a href="{% url 'tabla_clientes' %}" class="btn-card-action">
                                <i class='bx bx-search'></i> Ver Clientes
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ===== JavaScripts =====-->
    <script src="{% static 'js/validacion-cliente.js' %}"></script>
</body>

</html>